.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 6; }
    .div2 { grid-area: 3 / 1 / 6 / 6; }
    .div3 { grid-area: 2 / 1 / 6 / 6; }
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        background-color: transparent;
      }
      .table {
        margin-top:auto;
      }
      a:link {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:visited {
        color: black;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: green;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color:dimgrey;
        background-color: transparent;
        text-decoration: underline;
      }
      .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:auto;
      }
      .div2 {
        background-image: url(Assets/Background.jfif);
        background-repeat: no-repeat;
        background-size: 100%;
      }
      